<!DOCTYPE html>
<html ng-app="eprove" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>eProve</title>
    <meta name="description" content="echo - Smart Surveys for Continuous Improvement">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
<!--
    <link rel="icon" href="echo-logo-favicon-16px.png">
    <link rel="icon" href="echo-logo-favicon-128px.png">
-->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="styles/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.js"></script>
  </head>
  <body class="landing landing--eprove"><!--[if gt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience. </p> <![endif]-->
    <div data-offcanvas="" class="off-canvas-wrap">
      <div class="inner-wrap">
        <header><img src="images/landing-eprove/eprove-logo.svg" class="logo"><img src="images/landing-eprove/eprove-logo-dark.svg" class="logo alt">
          <nav class="show-for-medium-up">
            <ul>
              <li><a href="#about-section">About</a></li>
              <li><a href="#solutions-section">Solutions</a></li>
              <li><a href="#" data-reveal-id="eProve_contact">Contact Us</a></li>
            </ul>
          </nav><a href="#" class="right-off-canvas-toggle"><span class="icon-menu"></span></a>
        </header>
        <div class="main-content">
          <div class="hero container">
            <div class="content">
              <h1>empower. engage. evolve.</h1>
              <h2>an education improvement productivity platform</h2>
            </div>
          </div><a name="about-section"></a>
          <div id="eprove_intro" class="container">
            <div class="row">
              <div class="small-12 medium-12 column text-center">
                <h2>Introducing eProve&#0153;</h2>
                <div class="tagline">a state-of-the-art productivity platform<br>for continuous improvement</div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 medium-6 columns">
                <p>Schools and school systems are complex ecosystems, where each piece of data, from assessments and transcripts to demographics and growth models, represent a distinct part of the whole. When it comes to improvement, educators must rely on the data to light a clear path from where they are to where they want to go.</p>
              </div>
              <div class="small-12 medium-6 columns">
                <p>The eProve platform aligns improvement efforts through six comprehensive elements that empower education institutions to make sense – and use of – their data, offering a valuable companion on the journey of continuous improvement.</p>
              </div>
            </div>
          </div><a name="solutions-section"></a>
          <div id="eprove_solutions" class="container">
            <div class="row">
              <div class="small-12 medium-12 columns">
                <h3>eProve Solutions</h3>
              </div>
              <div class="solution--featured small-12 medium-5 medium-push-1 columns text-center"><img src="images/landing-eprove/icon-radiused-eleot.svg" alt="" width="90">
                <div class="title">eleot</div>
                <p>Conduct meaningful classroom observations focused on student engagement.</p>
                <a href="/eproveeleot"><div class="button large button--eleot">Learn More</div></a>
              </div>
              <div class="solution--featured small-12 medium-5 medium-pull-1 columns text-center"><img src="images/landing-eprove/icon-radiused-surveys.svg" alt="" width="90">
                <div class="title">surveys</div>
                <p>Build and administer customized stakeholder surveys to collect and report actionable data.</p>
                <a href="/eprovesurveys"><div class="button large button--surveys">Learn More</div></a>
              </div>
            </div>
            <div class="row">
              <div class="solution small-6 medium-3 columns text-center"><img src="images/landing-eprove/icon-radiused-analytics.svg" alt="" width="72">
                <div class="title">analytics</div>
                <p>Synthesize, report and benchmark results accessing data across the entire platform.</p>
                <div class="button button--secondary button--outline">Coming Soon</div>
              </div>
              <div class="solution small-6 medium-3 columns text-center"><img src="images/landing-eprove/icon-radiused-diagnostics.svg" alt="" width="72">
                <div class="title">diagnostics</div>
                <p>Uncover the root causes of issues and evaluate the overall effectiveness of improvement efforts.</p>
                <div class="button button--secondary button--outline">Coming Soon</div>
              </div>
              <div class="solution small-6 medium-3 columns text-center"><img src="images/landing-eprove/icon-radiused-strategies.svg" alt="" width="72">
                <div class="title">strategies</div>
                <p>Identify goals, define and monitor strategies and allocate resources to create workable improvement plans.</p>
                <div class="button button--secondary button--outline">Coming Soon</div>
              </div>
              <div class="solution small-6 medium-3 columns text-center"><img src="images/landing-eprove/icon-radiused-workspace.svg" alt="" width="72">
                <div class="title">workspace</div>
                <p>Assemble and manage collaborative teams for internal and external reviews.</p>
                <div class="button button--secondary button--outline">Coming Soon</div>
              </div>
            </div>
          </div><a name="signup-section"></a>
          <footer id="eprove_footer" class="container">
            <div id="ac-container" class="row">
              <div class="small-12 medium-8 large-8 columns">
                <p>eProve: EMPOWER education communities to ENGAGE each other as they EVOLVE to continuously create opportunities for every learner to succeed.
                </p>
                <p>Creating a world of opportunities for all learners.<br>Copyright &copy; 2015 AdvancED. All Rights Reserved</p>
              </div>
              <div class="small-12 medium-4 large-4 columns">
                <div class="signup__contact"><img src="images/landing/logo-advanced-grey.svg">
                  <p>9115 Westside Parkway<br>Alpharetta, GA 30009<br>+1 678.392.2285</p><a>888.41ED NOW</a><br><a href="mailto:contactus@advanc-ed.org">contactus@advanc-ed.org</a><br><a href="#" data-reveal-id="eProve_contact">Contact Us</a>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <aside ng-swipe-right="hideRightMenu($event)" class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><a href="#about-section">About</a></li>
            <li><a href="#features-section">Features</a></li>
            <li><a href="#screenshots-section">Screenshots</a></li>
            <li><a href="#pricing-section">Pricing</a></li>
            <li ng-if="!currentUser"><a href="#signup-section">Sign Up</a></li>
            <li ng-if="!currentUser"><a href="/app.html#/log-in">Log In</a></li>
          </ul>
        </aside><a class="exit-off-canvas"></a>
      </div>
      <div ng-app="eprove" ng-controller="EproveLandingController" id="eProve_contact" data-reveal="" aria-labelledby="eProve_contact_title" aria-hidden="true" role="dialog" class="reveal-modal small eprove-modal">
        <h2 id="eProve_contact_title" class="text-center">Contact Us</h2>
        <div class="row">
          <div class="small-12 columns">
            <p class="text-center">We’d love to hear from you!</p>
          </div>
        </div>
        <form name="contactForm" ng-submit="submitForm(form)" role="form" novalidate>
          <div class="row">
            <div class="small-12 columns"><strong ng-bind-html="contact_status"></strong></span>
              <label>
                <input type="text" placeholder="Name" name="name" class="radius" ng-model="username" required/>
                <span ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="error">This field is required</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>
                <input type="text" placeholder="Title" class="radius" ng-model="usertitle">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>
                <input type="email" name="email" placeholder="Email Address" class="radius" ng-model="email" required/>
                <div class="error-container" ng-show="!contactForm.email.$pristine && contactForm.email.$invalid">
                  <span class="error" ng-show="contactForm.email.$error.required">This field is required.</span>
                  <span class="error" ng-show="contactForm.email.$error.email">Please enter a valid email address</span>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>
                <input type="text" placeholder="Institution / Organization" class="radius">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="filter__select--dropdown"><span data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">I'd like additional information about...</span>
                <ul id="drop1" data-dropdown-content aria-hidden="true" tabindex="-1" class="dropdown f-dropdown" required>
                  <li>
                    <label>
                      <input type="checkbox">eProve eleot
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">eProve surveys
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Pricing
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Accreditation
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Diagnostic Reviews
                    </label>
                  </li>
                  <li>
                    <label>
                        <input type="checkbox">other
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="filter__select--dropdown"><span data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">How did you hear about us?</span>
                <ul id="drop2" data-dropdown-content aria-hidden="true" tabindex="-1" class="dropdown f-dropdown">
                  <li>
                    <label>
                      <input type="checkbox">Conference
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Colleague
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Accreditation
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">AdvancED Staff
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Email
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Online Search
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Advertisement
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">Other
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>
                <textarea placeholder="Add a message (optional)" class="radius" ng-model="message"></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
<!--
              <button data-reveal-id="eProve_messageSent" class="button expand button&#45;&#45;eprove">Submit</button>
-->
              <input type="submit" value="Submit" class="button expand button--eprove">
            </div>
          </div>
          <input type="hidden" name="contactEmail" value="kbopardikar@advanc-ed.org" ng-model="contactEmail">
          <input type="hidden" name="appName" value="eProve" ng-model="appName">
          <!--<span>{{user}}</span>-->
        </form><a aria-label="Close" class="close-reveal-modal"><span class="icon icon-close"></span></a>
      </div>
      <div id="eProve_messageSent" ng-show="contactForm.$valid" data-reveal="" aria-labelledby="eProve_messageSent_title" aria-hidden="true" role="dialog" class="reveal-modal small eprove-modal">
        <div class="message-sent"><span class="outer"><span class="inner"><span class="icon-check"></span></span></span></div>
        <h2 id="eProve_messageSent_title" class="text-center">Message Sent</h2>
        <hr>
        <p class="text-center">Thank you for your inquiry.
          We will contact you soon.</p><a aria-label="Close" class="close-reveal-modal"><span class="icon icon-close"></span></a>
      </div>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/raw-foundation.js"></script>
    <script src="scripts/landing-page.js"></script>

    <script src="scripts/app.js"></script>

    <script src="controllers/EproveLandingController.js"></script>


  </body>
</html>